* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #df0bc2;
    color: wheat;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.changer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#btn {
    width: 100px;
    height: 60px;
    background-color: aqua;
    outline: none;
    border: none;
}